{% load static %}

<style type="text/css">
  body {
  font-family: "Oxygen", sans-serif;
  color: #050505;
}
.topnav {
  overflow: hidden;
  background-color: skyblue;
  position: relative;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.topnav a:hover {
  color: white;
}

.active {
  background-color: white;
  color: skyblue;
}

</style>

</head>

<!-- Top Navigation Menu -->
<div class="topnav" >
  <a href="Bin_info" class="active" ><img src="{% static 'images/logo.png' %}" style="background-size:cover; height: 35px;"></a>
  <div id="myLinks">
    <a><b>Forus Health</b></a>
    <a style="margin-left: 1133px;" href="cbin"><b>Back</b></a>
</div>
</div>
    <div class="topnav" style="background-color:transparent;">
</div>
<h1 style="color:  rgba(49, 193, 227,1 ); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>Bin Card Information</center></h1>
